body{
    font-size: 17px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#Part1 ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
#Part1 li {
    display: flex;
    align-items: center;
    color: white;
}
a{
    margin: 5px;
    color: white;
}
#Part1 {
    padding: 5px;
    background-color: #f68e2e;


}

.anhPhoto {
    text-align: center; /* Center the contents horizontally */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    max-width: 100%; /* Optional: Limit the width of the container */
}
.anhPhoto img {
    max-width: 80%; /* Adjust the percentage to control the image size */
    height: auto; /* Maintain the image's aspect ratio */
    display: inline-block; /* Allow the image to be centered within the parent container */
}
#nav div {
    border: 1px solid black;
    height: 40px;
    background-color: #f68e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Thêm padding để tạo khoảng cách từ lề trái */
}
form{
    width: 80%;
    height: 90vh;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
}