

.cate {
    display: flex;
    background-color: var(--color_backgroud);
    cursor: pointer;
  
}
.cate .icon-bar{
    margin-right: 5px;
    margin-left: 12px;
    padding-top: 6px;
}
.cate .cateList {
    padding-top: 4px;
    display: inline-block;
}
